html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Alegreya Sans', 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  overflow: hidden;
}

.top-nav {
  background: #1d032d;
  border: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 3em;
  padding: .313em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.top-nav a { color: white; text-decoration: none; }

.brand {
  font-size: 1.625rem;
  font-style: italic;
  font-weight: 700;
  letter-spacing: .02em;
  margin: 0 1.5em 0 0;
}

.brand img {
  display: inline-block;
  margin: 0 0.625em 0 .313em;
  max-height: 1.125em;
  vertical-align: text-top;
}
.top-nav button {
  background: #3094b4;
  border: 0;
  border-radius: 3em;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  min-height: 2.188em;
  margin-left: .313em;
  margin-right: .313em;
  padding: 0.313em 0.875rem;
}
.top-nav button:hover {
  background-color: #236f86;
}
.top-nav button svg {
  height: 1rem;
  vertical-align: text-top;
}
.top-nav button.btn-trash {
  margin-right: auto;
}
.top-nav button.btn-get-code {
  background-color: #2fc334;
}
.top-nav button.btn-get-code:hover {
  background-color: #25b32a;
}
.top-nav button.btn-hire {
  background-color: #E91E63;
}
.top-nav button.btn-hire:hover {
  background-color: #c11651;
}
.top-nav button.btn-feedback {
  background-color: #6b16a1;
}
.top-nav button.btn-feedback:hover {
  background-color: #490c6f;
}
.top-nav .top-link {
  margin-left: .313em;
  margin-right: .313em;
}
.top-nav .top-link:hover {
  color: #36ce9f;
}
.wrapper {
  background-color: #877a8e;
  margin-top: 3em;
}

.code-modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999999;
}
.code-modal.active {
  display: block;
}
.code-modal .code-modal-backdrop {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.code-modal .code-modal-close {
  position: absolute;
  z-index: 999;
  top: .938em;
  right: .938em;
  cursor: pointer;
  color: #888;
}
.code-modal .code-modal-content {
  background: #fff;
  max-width: 31.250em;
  min-height: 18.750em;
  position: relative;
  z-index: 999;
  margin: 2.500em auto;
  border-radius: 4px;
  padding: 2.188em;
}
.code-modal .code-modal-content .code-modal-code {
  padding-bottom: 1.25em;
}
.code-modal .code-modal-content .code-modal-code div {
  padding: 0 1.25em;
}

.sidebar {
  background-color: #300548;
  color: white;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 3em;
  bottom: 0;
  padding: .625em .625em 3.125em;
  width: 12.5em;
  z-index: 9;
}
.sidebar h3:first-child { margin-top: 0; }
.sidebar hr {
  border-color: #786882;
}
.sidebar h2 {
  color: #fff;
  margin: 0 0 .625em;
}
.sidebar h3 {
  margin-bottom: .625em;
}
.sidebar h3 .icon.icon-cols {
  display:inline-block;
  transform:rotate(90deg);
}
.sidebar input {
  border:0;
  font-size: .875rem;
  margin-bottom: .313em;
  padding: .313em;
  height: 30px;
  width: 100%;
}
.sidebar .btns-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.sidebar button {
  background-color: #3095b4;
  border: 0;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: .875rem;
  font-weight: 700;
  min-height: 30px;
  margin-bottom: .625em;
  padding: .375em;
  width: 100%;
}
.sidebar button:hover {
  background-color: #236f86;
}

.sidebar button.btn-add, .sidebar button.btn-remove {
  flex: 1;
}
.sidebar button.btn-remove {
  background-color: #E91E63;
  margin-left: 5%;
}
.sidebar button.btn-remove:hover {
  background-color: #c11651;
}
.sidebar .input-cols, .sidebar .input-rows {
  margin-bottom: .938em;
}
.sidebar .input-container {
  display: flex;
  overflow: auto;
}
.sidebar .input-container input {
  text-align: center;
  width: 70%;
}
.sidebar .input-container select {
  border: 0;
  margin-left: 5%;
  height: 30px;
  width: 25%;
}
.sidebar p {
  font-size: .813rem;
  margin-top: 0;
}

#grid-container {
  display: grid;
  grid-gap: 1px;
  padding: .938em;
  padding-left: 13.125em;
  position: relative;
  transition: 0.15s ease-in;
  height: calc(100vh - 3em);
  width: 100%;
  //background: repeating-linear-gradient(45deg, rgb(255, 255, 255), rgb(255, 255, 255) 5px, rgba(48, 7, 72,0.6) 5px, rgba(48, 7, 72,0.6) 10px);
}
#grid-container section {
  background: #Fff;
  color: #888;
  outline: 1px dashed rgba(255,255,255,0.6);
}

#grid-container section:nth-child(odd) {
  //background: #f8f8f8;
}

#grid-container section.saved-area {
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#grid-container section.saved-area div {
  background: rgba(139, 195, 74, 0.4);
}
#grid-container section.saved-area:after {
  content: attr(data-name);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 9999;
  font-size: 2rem;
  text-transform: capitalize;
  color: #300748;
}
#grid-container section div {
  position: relative;
  min-height: 100%;
}
#grid-container section span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#grid-container section span:before, 
#grid-container section span:after {
  border-radius: 4px;
  border: 1px solid #310548;
  color: #310548;
  font-size: .750rem;
  padding: 0 .313em;
  position: absolute;
  z-index: 99;
}
#grid-container section span:before {
  content: attr(data-row);
  background: #fffdeb;
  top: -8px;
}
#grid-container section span:after {
  content: attr(data-col);
  background: #e6f6f5;
  left: -8px;
}
#grid-container section input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0;
  cursor: pointer;
}
#grid-container section input:hover + span {
  background: #ddd;
}
#grid-container section input:checked + span {
  background: lightblue;
}

#add-area-container {
    position: absolute;
    z-index: 999;
    display: none;
}

#add-area-container.active { display: block; }